@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  font-family: "Raleway";
}
header {
  width: 100%;
  height: 75px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  display: flex;
}

header a {
  margin-right: auto;
  margin-left: 30px;
  margin-top: 30px;
  height: 50%;
  width: 50%;
}
header a img {
  height: 40px;
}
#accommodations-link,
#activities-link {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  height: 90%;
  padding: 0px 10px 0px 10px;
  font-size: 12px;
}

.active {
  border-top: 2px solid #0065fc;
}

.active a {
  color: #0065fc;
}

nav ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
}
nav li {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  display: inline;
}

nav li a {
  color: black;
  text-decoration: none;
}

section {
  margin: 20px 30px 0px 30px;
}
h3 {
  margin: 0px;
  font-size: 16px;
}
h6 {
  margin: 5px 0px 0px 0px;
  font-weight: 500;
}
.search {
  height: 100%;
  width: auto;
  margin-top: 15px;
  display: flex;
}
form {
  width: auto;
  height: 35px;
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}
form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  width: auto;
  font-weight: bolder;
}

form button {
  width: auto;
  background: #0065fc;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px 10px 15px;
}
form .fa-location-dot {
  height: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: #f2f2f2;
  color: black;
}
.filters {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
label {
  margin-right: 0px;
  font-weight: bold;
  font-size: 15px;
}
.filters ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 30%;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.filters ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 75%;
  padding: 10px 0px 10px 0px;
  margin-left: 15px;
  white-space: nowrap;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
}

.filters ul li button {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin-left: 2px;
}

.filter-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 50px;
  background: #deebff;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  right: 5px;
}

.filter-icon-container i {
  color: #0065fc;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  font-size: 12px;
}

.info i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  margin: 0px 10px 15px 0px;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
}

.info p {
  width: 32%;
}
main {
  margin: 0px 30px 0px 30px;
}
.container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.accommodations {
  height: 100%;
  width: 70%;
  background: #f2f2f2;
  border-radius: 15px;
  margin-top: 10px;
  padding: 30px;
}

.accommodations h4 {
  font-weight: 700;
  font-size: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.card-container {
  padding: 2.5px;
  flex: 1 1 25%;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}
.card-container img {
  height: auto;
  width: 100%;
  aspect-ratio: 15/7;
  object-fit: cover;
  object-position: 25% 50%;
  border-radius: 10px 10px 0 0;
}

.card-info {
  margin: 0 10px 0 10px;
}

.card-info h5 {
  font-size: 12px;
}

.card-info h6 {
  font-weight: lighter;
  font-size: 10px;
  margin-top: 2px;
}

.card-info i {
  color: #0065fc;
  margin-right: 0.5px;
}

.card-info .dim {
  color: #f2f2f2;
}

.show-more {
  margin-top: 10px;
}

.popular {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 30%;
  background: #f2f2f2;
  border-radius: 15px;
  margin-top: 10px;
  padding: 25px;
}
.popular-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  padding: 3px;
  flex: 1 1 100%;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.popular-card img {
  height: 100%;
  width: 40%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: 50% 55%;
  border-radius: 10px 0px 0px 10px;
}

.popular-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.popular-info .dim {
  color: #f2f2f2;
}

.popular-info h5 {
  margin-top: 10px;
  font-size: 12px;
}
.popular-info h6 {
  font-size: 10px;
  font-weight: lighter;
  margin-top: 15px;
}

#tout-wrap {
  margin-right: 10px;
}

#bb-close,
#tout-close {
  margin-top: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 12px 0px;
}

.popular-info i {
  margin-top: 20px;
  color: #0065fc;
  margin-right: 0.5px;
}

.activities {
  margin: 40px 0px 40px 0px;
}

.activities-cards {
  display: flex;
  gap: 25px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.activities-cards-column {
  flex: 0 1 30%;
}
.activities-cards-column:nth-child(even) {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 0 1 30%;
}

.activities-card {
  height: 100%;
  width: 100%;
  border: 2px solid;
  border-radius: 10px;
}

.activities-card img {
  height: 85%;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: 50% 55%;
  border-radius: 10px 10px 0px 0px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  background-color: #f2f2f2;
}

.links {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

.links h5 {
  margin-bottom: 10px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 5px;
}

.links ul li a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  header {
    flex-direction: column;
  }
  header a {
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  header a img {
    height: 40px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  nav {
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100%;
  }

  nav ul {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  #accommodations-link,
  #activities-link {
    font-size: 15px;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
    padding-left: 10%;
    margin: 0%;
    width: 100%;
    font-size: 15px;
  }

  .active {
    border: none;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 30px 15px 10px 15px;
  }

  section h3 {
    font-size: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 5px;
  }

  section h6 {
    font-size: 12px;
  }

  .search {
    display: inline;
    width: 100%;
    justify-content: center;
  }

  .search form {
    width: 90%;
  }

  .filters {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    justify-content: flex-start;
  }

  .info p {
    width: 80%;
    font-size: 15px;
  }

  main {
    margin: 0;
  }

  .container {
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;
  }

  .popular {
    width: 100%;
  }

  .popular-cards {
    width: 100%;
  }

  .popular-card {
    width: 75%;
  }

  .accommodations {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #fff;
  }

  .accommodations h4 {
    font-size: 20px;
    margin: 15px 0px 10px 20px;
  }

  .cards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 20px 10px 20px;
  }

  .show-more {
    font-size: 17px;
  }

  .activities {
    margin: 20px;
  }

  .activities h4 {
    font-size: 20px;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    gap: 20px;
  }

  footer h5 {
    font-size: 15px;
  }

  .links ul li a {
    font-size: 15px;
  }
}
